
body {
	font-family: sans-serif;
	margin: 0px;
}
.head {
	display: flex;
	justify-content: space-around;
	background-color: #373538;
	border-radius: 5px;
	}	

.headtext {
	font-size: 2vh;
	font-family: sans-serif;
	color: #ffff;
	margin-top: 2.5%;
	text-shadow: 1px 1px 2px grey;

}
.navbarhead
{
display: flex;
flex-direction: column;
margin-top: 1.5%;
}

.navbar 
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: sans-serif;
	font-size: 3vh;
	
}
.navbar a
{
	color: black;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
}
.navbar a:hover {
	color: #fff;
	text-shadow: 1px 1px 2px blue, 0 0 1em magenta, 0 0 0.2em black;;

}
.menu {
	display: flex;
	flex-direction: column;
	}

.prodall {
	margin-top: 2%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		}

.prod {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 40vh;
	height: 35vh;
	border: solid 1px;
	border-radius: 30px;
	text-align: center;
	padding: 10px;
	margin: 2%;
	transition: all 0.8s ease;
	}
.prod h3 {
	margin-top: 0%;
	font-size: 3vh; 
	margin-bottom: 20%;
}
.prod p {
	font-size: 2vh; 
	}
.prod a {
	text-decoration: none;
	color: black;
}
.prod:hover {
	box-shadow: 0 0 15px blue;
	cursor: pointer;
	background-color: #373538;
	color: white;
		}
.prod a:hover {
	color:white;
	text-shadow: 1px 1px 2px grey;
}

footer {
	text-align: right;
	margin-right: 2%;
}