.cat
{
	display: flex;
	flex-direction: column;
	font-size: 25px;

	
}
.subcat {
	display: none;
	position: absolute;
	font-size: 20px;
		
}
.cat:hover .subcat {
	/*border: solid 2px red;*/ 
	position: relative;
	display: flex;
	flex-direction: column;
	/*padding-left: 40px;*/
	
}
.subsub:hover {
	background-color: red;

}
